* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MEDIA QUERIES */

@media (min-width: 769px) {

  .main-header,
  .main-nav {
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1025px) {

  .main-header{
    flex-direction: row;
    justify-content: space-between;
  }

}


/* NAV BAR */

.name {
  font-size: 2.35em;
  margin: 0;
}

.main-nav {
  margin-top: 5px;
}

.name a,
.main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}

.main-nav {
  font-size: .95em
  color: black;
  text-transform: uppercase;
}

.main-nav a:hover {
  color: lightblue;
}


.main-header {
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: black;
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
