* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* NAV BAR */

li, a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  width: 100%;
  position: fixed;
}

.logo {
  margin-right: auto;
  padding-right: 700px;
  display: block;
  font-size: 35px;
  font-weight: bolder;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  trasnsition: all 0.3 easer 0s;
}

.nav-links li a:hover {
  text-decoration: underline;
}

/* THE MAIN PICTURE */

main {
  background-image: url('../img/keyboard.jpg');
  width: 100%;
  height: 600px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 200px;
  font-size: 2em;
  color: white;
}

.name {
  color: black;
}

/* ABOUT */

.container {
  margin: 100px auto;
  width: 50%;
  padding: 8px;
  padding-bottom: 80px;
}

#my-pic {
  width: 300px;
  float: left;
  height: auto;
  padding: 0 10px 0 0;
}

.text-col {
  text-align: justify;
}

.container h1 {
  text-align: ceter;
}


/* PROJECTS */

.proj-head {
  text-align: center;
  font-weight: bold;
  font-size: 35px;

}

#projects {
  background-color: lightgray;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project-tile {
  max-width: 400px;
  margin: 20px;
  margin-top: 30px;
  transition: transform 0.3s ease;
}

.project-tile:hover {
  transform: scale(1.1);
}

.project-tile img {
  max-width: 100%;
}

.project-tile p {
  text-align: center;
  font-size: 20px;
}


/* FOOTER */

footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}
